header {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #202020;
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#gamemode-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#gamemode-section button {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
}

#quiz-section {
    position: absolute;
    background: whitesmoke;
    color: black;
    height: 500px;
    width: 1000px;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#quiz-section button {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
}

#letterDisplay {
    font-size: 150px;
    margin: 0;
}

#answer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#answer-section p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#answerDisplay {
    font-size: 40px;
    font-weight: bold;
}

#noteDisplay {
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    header {
        font-size: 20px;
    }

    #quiz-section {
        height: 400px;
        width: 100%;
        left: 0;
        transform: translate(0, -30%);
    }

    #gamemode-section button {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 7px;
    }

    #letterDisplay {
        font-size: 125px;
    }
}

@media screen and (max-width: 600px) {
    #quiz-section {
        height: 300px;
    }
    #letterDisplay {
        font-size: 100px;
    }
}

@media screen and (max-width: 450px) {
    #letterDisplay {
        font-size: 70px;
    }
}