header {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #202020;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
    background: #fff;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

/*

#font-section button:focus {
    color: blue;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0 0 50px 20px rgb(255, 0, 0);
    animation: anim-shadow 0.5s forwards;

}

@keyframes anim-shadow {
    100% {
        box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0);
    }
}*/

#buttonLoopFont {
    color: blue;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0);
}

#gamemode-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


#quiz-section {
    background: whitesmoke;
    color: black;
    height: 500px;
    width: 1000px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

#quiz-section button {
    border: 2px solid black;
}


#letterDisplay {
    font-size: 150px;
    margin: 0;
}

#answer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#answer-section p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#answerDisplay {
    font-size: 40px;
    font-weight: bold;
}

#noteDisplay {
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    header {
        font-size: 20px;
    }

    #quiz-section {
        height: 400px;
        width: 100%;
    }

    button {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 7px;
    }

    #letterDisplay {
        font-size: 125px;
    }
}

@media screen and (max-width: 600px) {
    #quiz-section {
        height: 300px;
    }
    #letterDisplay {
        font-size: 100px;
    }
}

@media screen and (max-width: 450px) {
    #letterDisplay {
        font-size: 70px;
    }
}